body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    margin: 20px 0;
}

.ranking-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ranking-table th, .ranking-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ranking-table th {
    background-color: maroon;
    color: white;
}

.ranking-table td {
    color: maroon;
    background-color: #f9f9f9;
}

.ranking-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ranking-table tr:hover {
    background-color: #ddd;
}

.button-container {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    background-color: maroon;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8b0000;
}
